/* general */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

img {
    width: 100%;
}

/* utilities */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.col-gap-15px {
    column-gap: 15px;
}

/* contents */

header {
    height: 5vh;
    background-color: black;
}

.top-options {
    justify-content: flex-end;
}

.top-options p {
    background-color: #4a4a4a;
    font-weight: bold;
    color: white;
    margin-right: 6px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
}

main {
    height: 85vh;
    background-color: black;
    overflow-y: auto;
}

.image-container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 15px 5px;
}

.card {
    position: relative;
    width: calc(100%/7 - 4px);
    margin: 2px 2px;
}

.username {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 4px;
    padding: 5px;
}

footer {
    height: 10vh;
    background-color: #222222;
}

.bottom-options {
    height: 100%;
    justify-content: space-between;
    color: white;
}

#left-foot-options {
    padding: 0px 10px;
    column-gap: 15px;
}

.symbol-position {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

#end-meeting {
    background-color: #4a4a4a;
    height: 100%;
    padding: 40px 20px 0px;
    color: red;
}